<ul id="contact-info">
	<li>                                    
		<span class="glyph general icon">r</span>
		<span class="field">Phone:</span>
		China-Art Agency Hangzhou
		Mobile: +86 139 5808 9071
		Public Relations
		Suki Qi
		Mobile: +86 13536592705                                                                
	</li>
	<li>
		<span class="glyph general icon">h</span>		
		<span class="field">Email:</span>
		China-Art Agency Hangzhou<br/>
		chinaart@vip.sina.com<br/> 
		<br>		
		Bob Bellows<br/>
		bobbellows99@yahoo.com<br/>
	</li>
<!--
	<li>
		<span class="glyph general icon" style="margin-bottom:50px">m</span>		
		<span class="field">Address:</span>
		<br>
		123 Street<br>
		12345 City, State<br>
		Country
	</li>
-->
</ul>

              
<ul id="contact-info">
	<li>                                    
		<span class="glyph general icon">r</span>
		<span class="field">Phone:</span>
		<br />
		(123) 456 7890 / 456 7891                                                                      
	</li>
	<li>
		<span class="glyph general icon">h</span>
		
		<span class="field">Email:</span>
		<br />
		<a href="mailto:info@yourdomain.com" title="Email">info@yourdomain.com</a>
	</li>
	<li>
		<span class="glyph general icon" style="margin-bottom:50px">m</span>
		
		<span class="field">Address:</span>
		<br />
		123 Street<br />
		12345 City, State<br />
	Country
	</li>
</ul>

<ul id="contact-info">
<li>
		<span class="glyph general icon">r</span>
		<br><span class="field">Phone:</span><br><br>
		(123) 456 7890 / 456 7891
	</li>
<li>
		<span class="glyph general icon">h</span>
<p>		<span class="field">Email:</span><br><br><a href="mailto:info@yourdomain.com" title="Email">info@yourdomain.com</a>
	</p></li>
<li>
		<span class="glyph general icon" style="margin-bottom:50px">m</span>
<p>		<span class="field">Address:</span><br><br>
		123 Street<br>
		12345 City, State<br>
	Country
	</p></li>
</ul>