/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import 'base';

body	{	background-image: url('/sites/default/files/images/whitey.png'); 
			background-repeat: repeat repeat;
			font-family: Abel;
		}


#zone-preface-wrapper	{	margin-bottom: 6em;
						}
						
#zone-content-wrapper	{	background: url('/sites/default/files/images/pw_maze_black.png'); 
							background-color: $darkest;
							background-repeat: repeat;
							padding: 3em 0;
							margin: 2em 0;
							color: #fff;
							font-size: 1.2em;
							
							h2	{	font-family: Abel, 'Arial Narrow', sans-serif;
									padding-top: 2em;
								}
						}


#zone-footer-wrapper	{	background: url('/sites/default/files/images/pw_maze_black.png');
							background-color: $darkest;
							background-repeat: repeat;
							border-top: 10px solid $light_grey;
							color: #fff;
							padding: 4em 0 8em 0;
							margin-top: 4em;
							
							h2 , h3	{	color: #fff;
										font-size: $lead;
										margin-bottom: 10px;
									}
							
							a 	{ 	color: $link1;
									text-decoration: none;
									margin-left: 10px;
									&:hover	{	text-decoration: underline;
											}
								}	
						}

#region-postscript-first	{	display: block;
							}

#region-postscript-second	{	display: none;
							}						

#zone-postscript-wrapper	{	margin: 2em 0;
							}

h1.site-name a,
h2.site-name a	{	font-family: Lobster, Georgia , serif; 
					color: $darkest; 
					text-shadow: none; 
					line-height: 80%; 
					letter-spacing: 1px; 
					text-transform: none;
				}

h2 , h3 , h4 , h5 , h6	{	font-family: Cuprum , 'Arial Narrow' , sans-serif;
						}				

h2.block-title	{	font-family: Cuprum , 'Arial Narrow' , sans-serif;
					font-size: $lead*1.5;
					color: $medium_grey;
				}

h6.site-slogan,
#block-boxes-subtitle p,
#boxes-box-robert_brusen		{	font-family: Cuprum; 
									color: $medium_grey;
								}

h6.site-slogan					{	color: $dark_grey;
								}



	
.more							{	font-family: 'Century Gothic' , sans-serif;
									font-size: 11px;
									text-transform: uppercase;
									
									a 	{ 	color: $link1;
											text-decoration: none;
											
											&:hover {	text-decoration: underline;
													}
										}
								}

#block-boxes-subtitle p,
#boxes-box-robert_brusen		{	color: $medium_grey;
								}
								
#block-views-front-page-items-all-of-me,
#block-views-references-front-reference	{	font-family: Abel; 
											font-size: 1.4em; 
											line-height: 120%; 
											
											h3	{ 	font-family: Abel; 
													font-weight: bold;
													font-size: 2em;
													color: $dark_grey;
													margin-top: 20px;
											}
											
											img	{	display: none;
												}
										}

#block-views-links-badge .badge	{	text-align: center;
									width: 90%;
									padding: 1em;
									background: $darkest;
								}

#boxes-box-plato	{		padding: 2em 0 20px 0;

							p {	font-family: Lobster, Georgia , serif; 
								color: $dark_grey; 
								font-size: 20px; 
								text-shadow: none; 
								line-height: 110%; 
								letter-spacing: 1px; 
								text-transform: none;
								padding: 0 0 0 20px;
								margin-top: 1em;
								margin-bottom: 3em;
								border-left: 10px solid $dark_grey;
							}
					}

.italic	{	font-style: italic;
		}

ul.nav	{	li	{	list-style: none;
					display: inline;
					a 	{	text-decoration: none;
							font-family: Abel; 
							font-size: 18px; 
							text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px; 
							line-height: 26px;
							padding: 7px 18px; 
							border-top-left-radius: 16px; 
							border-top-right-radius: 16px; 
							border-bottom-right-radius: 16px; 
							border-bottom-left-radius: 16px; 
							color: rgb(51, 51, 51); 
							margin-right: 2px; 
							margin-left: 2px; 
							border-bottom-style: none;
						}
					a:hover {	color: rgb(51, 51, 51); 
								background-color: rgb(245, 245, 245); 
								border-bottom-style: none;
								-webkit-transition: ease-in-out .2s;
								-moz-transition: ease-in-out .2s;
								-o-transition: ease-in-out .2s;
								-ms-transition: ease-in-out .2s; 
								transition: ease-in-out .2s;
							}
				}
		}

.tile	{	background: none;
			width: 98%;
			border: none;
			padding: 10px 0 20px 0;
			
			h4	{	font-family: 'Cuprum' , 'Abel' , 'Arial Narrow' , sans-serif;
					text-decoration: none;
					color: $medium_grey;
					margin: 20px 0 2px 10px;
					letter-spacing: -.1em;
				}
		}











