/* This file will hold styles that are loaded using the same media query as the wide grid. */
@import 'base';

/* Show the three videos row */							
#region-postscript-first	{	display: block;
							}

#region-postscript-second	{	display: none;
							}

#block-views-news-front-news	{	h2.block-title	{	display: block;
														top: -40%;
													}					
								}