/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
@import 'base';

#zone-user-wrapper	{	padding-top: 20px;
					}

#region-user-first	{	margin-bottom: 0;
}


#region-postscript-second	{	display: none;
							}

h1.site-name a,
h2.site-name a	{	font-size: $title_size;
					font-weight: normal;
				}


h6.site-slogan	{	font-size: $slogan_size; 
				}

#block-boxes-subtitle p		{	font-size: $subtitle_size; 
							}

#boxes-box-robert_brusen	{	font-size: $subtitle_size;
 
								p	{	
									}
							}	
								
#block-views-front-page-items-all-of-me,
#block-views-references-front-reference	{	font-size: 1.4em; 
											line-height: 120%; 
											
											h3	{ 	font-weight: bold;
													font-size: 2em;
													color: $darkest;
													margin-top: 0;
											}
											
											img	{	display: block;
												}
										}

#boxes-box-plato	{		padding: 0 0 0 10%;

							p {	font-family: Lobster, Georgia , serif; 
								font-size: $lead * 2; 
								text-shadow: none; 
								line-height: 110%; 
								text-transform: none;
								padding: 0 0 0 2em;
							}
					}

#block-views-links-badge .badge	{	text-align: left;
									width: 100%;
									padding: 0;
									background: none;
								}


/*
#block-views-gallery-masonry-gallery .view-content {	margin: 0;

														.item	{	float: left;
																	width: 350px;
																	padding: 10px;
																	background: #fff;
																	border: 1px solid #ddd;
																}		
}
*/


/*--------------------------------------------- MAIN MENU ------------------------------------------------------------*/

ul.nav	{	li	{	list-style: none;
					display: inline;
					a 	{	text-decoration: none;
							font-size: 18px; 
							text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px; 
							line-height: 26px;
							padding: 7px 18px; 
							margin-right: 2px; 
							margin-left: 2px; 
							border-bottom-style: none;
						}

				}
		}							