/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* $darkest: #373534; */
/*------------------------------ TYPOGRAPHY ------------------------------------------------------------*/
/* line 7, ../sass/global.scss */
body {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14.4px;
}

/* line 11, ../sass/global.scss */
h2, h3, h4, h5, h6 {
  font-family: "PT Sans Narrow", "Arial Narrow", sans-serif;
  font-weight: normal;
}

/* line 16, ../sass/global.scss */
#zone-user-wrapper,
#zone-content-wrapper,
#zone-footer-wrapper {
  color: #fff;
}

/* line 19, ../sass/global.scss */
#zone-content-wrapper {
  font-size: 1.2em;
}

/* line 22, ../sass/global.scss */
#zone-footer-wrapper {
  font-size: 14.4px;
}
/* line 24, ../sass/global.scss */
#zone-footer-wrapper h2, #zone-footer-wrapper h3 {
  color: #d5ced6;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px dotted #d5ced6;
}
/* line 30, ../sass/global.scss */
#zone-footer-wrapper a {
  color: white;
}

/* line 34, ../sass/global.scss */
h2.block-title {
  font-size: 27px;
  color: #363636;
}

/* line 38, ../sass/global.scss */
h6.site-slogan {
  color: white;
  text-transform: none;
}

/* line 42, ../sass/global.scss */
.sassy {
  font-size: 12px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF87778A', endColorstr='#FF514853');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3bcc5), color-stop(50%, #87778a), color-stop(100%, #6c5f6f));
  background: -webkit-linear-gradient(#c3bcc5, #87778a 50%, #6c5f6f);
  background: -moz-linear-gradient(#c3bcc5, #87778a 50%, #6c5f6f);
  background: -o-linear-gradient(#c3bcc5, #87778a 50%, #6c5f6f);
  background: linear-gradient(#c3bcc5, #87778a 50%, #6c5f6f);
  -webkit-box-shadow: #e8e5e8 0 1px 0 inset;
  -moz-box-shadow: #e8e5e8 0 1px 0 inset;
  box-shadow: #e8e5e8 0 1px 0 inset;
  border: 1px solid #5f5361;
  color: white;
  text-shadow: #706373 0 -1px 0;
}
/* line 15, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.sassy:hover {
  text-decoration: none;
}
/* line 24, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.sassy:hover {
  background-color: #6c5f6f;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfb6c0), color-stop(50%, #6c5f6f), color-stop(100%, #574c59));
  background: -webkit-linear-gradient(#bfb6c0, #6c5f6f 50%, #574c59);
  background: -moz-linear-gradient(#bfb6c0, #6c5f6f 50%, #574c59);
  background: -o-linear-gradient(#bfb6c0, #6c5f6f 50%, #574c59);
  background: linear-gradient(#bfb6c0, #6c5f6f 50%, #574c59);
}
/* line 27, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.sassy:active {
  -webkit-box-shadow: #574c59 0 1px 2px inset;
  -moz-box-shadow: #574c59 0 1px 2px inset;
  box-shadow: #574c59 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.sassy.disabled, .sassy[disabled] {
  opacity: 0.6;
  background: #6c5f6f;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.sassy::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 43, ../sass/global.scss */
.sassy a {
  text-decoration: none;
  color: white;
}

/* line 49, ../sass/global.scss */
#region-user-first {
  display: block;
}
/* line 50, ../sass/global.scss */
#region-user-first h6.site-slogan {
  font-size: 30px;
}
/* line 53, ../sass/global.scss */
#region-user-first ul.subtitle {
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
}
/* line 57, ../sass/global.scss */
#region-user-first ul.subtitle li {
  display: inline;
  float: left;
  padding: 0 8px 0 0;
  font-size: .9em;
}

/* line 65, ../sass/global.scss */
#region-user-second {
  display: block;
  margin: 20px 0 0 0;
}
/* line 68, ../sass/global.scss */
#region-user-second ul.menu {
  padding: 0 0 20px 0;
}
/* line 70, ../sass/global.scss */
#region-user-second ul.menu li {
  list-style: none;
  display: inline;
}
/* line 73, ../sass/global.scss */
#region-user-second ul.menu li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  padding: 7px 18px;
  color: #fff;
  margin-right: 2px;
  margin-left: 0;
  border-bottom-style: none;
  border-right: 1px solid #3b2f3d;
  border-left: 1px solid #3b2f3d;
}
/* line 86, ../sass/global.scss */
#region-user-second ul.menu li a:hover,
#region-user-second ul.menu li a.active {
  border-right: 1px solid #d5ced6;
  border-left: 1px solid #d5ced6;
  color: #d5ced6;
}

/* line 94, ../sass/global.scss */
#region-branding-first {
  display: block;
}
/* line 97, ../sass/global.scss */
#region-branding-first h1.site-name a,
#region-branding-first h2.site-name a {
  font-family: Lobster, Georgia, serif;
  color: #3b2f3d;
  text-shadow: none;
  line-height: 80%;
  letter-spacing: 1px;
  text-transform: none;
  padding-right: 4em;
  font-size: 100px;
  font-weight: normal;
}
/* line 108, ../sass/global.scss */
#region-branding-first #boxes-box-robert_brusen {
  font-size: 18px;
  text-transform: uppercase;
}

/* line 113, ../sass/global.scss */
body.page-gallery #region-branding-first h2.site-name a {
  color: #fff;
}

/* line 118, ../sass/global.scss */
#region-branding-second #block-views-pages-awards {
                       								 	                         	 	/*
background: transparent url('/sites/default/files/images/awards_grey.png');
																						background-repeat: no-repeat;
*/
  background-position-y: 60%;
  color: #fff;
  position: relative;
}
/* line 126, ../sass/global.scss */
#region-branding-second #block-views-pages-awards h2.block-title {
  font-family: "Lobster", serif;
  font-size: 40px;
  color: #3b2f3d;
  /* float: left; */
}
/* line 133, ../sass/global.scss */
#region-branding-second #block-views-pages-awards p {
  font-size: 16.2px;
  text-align: left;
  padding-top: 10px;
  color: #3b2f3d;
  line-height: 1.3;
}

/* line 144, ../sass/global.scss */
#boxes-box-subtitle .boxes-box-content p {
  color: #d5ced6;
}

/* line 150, ../sass/global.scss */
.smalltext p {
  font-size: 16.2px;
}

/* line 154, ../sass/global.scss */
.faded p {
  color: #777;
}

/* line 158, ../sass/global.scss */
#block-boxes-subtitle p {
  color: #fff;
  text-transform: none;
}

/* line 162, ../sass/global.scss */
.article {
  font-size: 18px;
  line-height: 1.2;
}

/* line 166, ../sass/global.scss */
.more {
  font-family: "Century Gothic", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}
/* line 170, ../sass/global.scss */
.more a {
  color: white;
  text-decoration: none;
}
/* line 173, ../sass/global.scss */
.more a:hover {
  text-decoration: underline;
}

/* line 178, ../sass/global.scss */
#block-views-gallery-block-1 h4 {
  color: white;
}

/* line 182, ../sass/global.scss */
#block-views-footer-get-in-touch h4 {
  padding-top: 4px;
  margin: 0;
  line-height: 1;
  color: #d5ced6;
  padding-bottom: 10px;
}
/* line 189, ../sass/global.scss */
#block-views-footer-get-in-touch .dotted-top {
  border-bottom: 1px dotted #d5ced6;
  padding-top: 8px;
  margin-bottom: 10px;
}
/* line 194, ../sass/global.scss */
#block-views-footer-get-in-touch img {
  margin-bottom: 40px;
}

/* line 199, ../sass/global.scss */
#block-views-front-page-items-all-of-me,
#block-views-references-front-reference {
  font-size: 18px;
  line-height: 120%;
}
/* line 202, ../sass/global.scss */
#block-views-front-page-items-all-of-me h3,
#block-views-references-front-reference h3 {
  font-weight: bold;
  font-size: 2em;
  color: #363636;
  margin-top: 20px;
}
/* line 208, ../sass/global.scss */
#block-views-front-page-items-all-of-me img,
#block-views-references-front-reference img {
  display: none;
}

/* line 212, ../sass/global.scss */
#block-views-footer-social-networks {
  margin-bottom: 2em;
}

/* line 215, ../sass/global.scss */
#block-views-pages-about-block .adaptive-image {
  margin-bottom: 20px;
}

/* line 219, ../sass/global.scss */
#block-views-quote-frontpage-quote {
  padding: 0 0 20px 0;
  margin-bottom: 80px;
}
/* line 223, ../sass/global.scss */
#block-views-quote-frontpage-quote .quote-body p,
#block-views-quote-frontpage-quote .quote-author {
  font-family: Lobster, Georgia, serif;
  font-size: 43.2px;
  line-height: 120%;
}
/* line 228, ../sass/global.scss */
#block-views-quote-frontpage-quote .quote-body p {
  margin: 2em 0 0 2em;
  color: #3b2f3d;
}
/* line 232, ../sass/global.scss */
#block-views-quote-frontpage-quote .quote-author {
  padding: 0;
  margin: 0;
  color: #3b2f3d;
  margin: 1em 0 0 2em;
}
/* line 237, ../sass/global.scss */
#block-views-quote-frontpage-quote .icon-quote-left {
  color: #3b2f3d;
}

/* line 241, ../sass/global.scss */
#block-views-news-front-news h2.block-title {
  color: #3b2f3d;
  position: absolute;
  top: -40%;
  left: 33%;
  text-transform: uppercase;
  font-size: 70px;
  font-family: "Lobster", sans-serif;
  font-weight: bold;
  display: none;
}
/* line 252, ../sass/global.scss */
#block-views-news-front-news h3 {
  border-bottom: 1px dotted #87778a;
  padding: 16px 0 6px 0;
  color: #d5ced6;
}

/* line 258, ../sass/global.scss */
#block-views-front-page-items-all-of-me {
  margin: 4em 0 0 0;
  border-top: 1px dotted #87778a;
  /* border-bottom: 1px dotted $bright; */
  padding: 1em 0;
}
/* line 262, ../sass/global.scss */
#block-views-front-page-items-all-of-me .view-front-page-items h3 {
  color: #fff;
  font-weight: normal;
  font-size: 1.2em;
}
/* line 267, ../sass/global.scss */
#block-views-front-page-items-all-of-me .view-front-page-items p {
  color: #fff;
  line-height: 1.3;
}

/* line 276, ../sass/global.scss */
.icon-facebook-sign,
.icon-twitter,
.icon-envelope,
.icon-phone {
  margin-right: 10px;
}

/* line 282, ../sass/global.scss */
#scrollable .slide p.caption {
  background: #3b2f3d;
  color: #fff;
  text-align: right;
  padding: 1em 1em 0 0;
  font-size: 1.2em;
}

/*------------------------------ END TYPOGRAPHY ------------------------------------------------------------*/
/* line 295, ../sass/global.scss */
body {
  background-image: url("/sites/default/files/images/background/subtle_grunge.png");
  background-repeat: repeat repeat;
}

/* line 300, ../sass/global.scss */
body.page-gallery {
  background: #363636;
  /*
  						h2.site-name a	{	color: #fff;
  										}
  */
}
/* line 301, ../sass/global.scss */
body.page-gallery #zone-user-wrapper {
  background: #363636;
  border-bottom: 1px solid #777777;
}
/* line 310, ../sass/global.scss */
body.page-gallery #block-boxes-robert-brusen {
  color: #fff;
}
/* line 313, ../sass/global.scss */
body.page-gallery #zone-header,
body.page-gallery #zone-footer-wrapper {
  border: none;
}
/* line 316, ../sass/global.scss */
body.page-gallery #block-views-gallery-masonry-gallery h4 {
  background: #555555;
  padding: 10px 0 0 10px;
  margin-bottom: -3px;
}

/* line 323, ../sass/global.scss */
#zone-branding-wrapper {
  margin: 6em 0 0 0;
  padding: 0;
}

/* line 328, ../sass/global.scss */
#zone-header-wrapper {
  margin: 0 0 2em 0;
}

/* line 331, ../sass/global.scss */
#zone-header {
  border-top: 1px dotted #87778a;
  border-bottom: 1px dotted #87778a;
  padding: 20px 0;
}

/* line 336, ../sass/global.scss */
#zone-menu-wrapper {
  margin: 2em 0 0 0;
}

/* line 340, ../sass/global.scss */
#zone-user-wrapper {
  margin-bottom: 1em;
  background: #3b2f3d;
}

/* line 345, ../sass/global.scss */
#zone-preface-wrapper {
  margin-top: 0;
  margin-bottom: 4em;
}

/* line 350, ../sass/global.scss */
#zone-postscript-wrapper {
  padding: 4em 0;
  background-color: #3b2f3d;
}

/* line 354, ../sass/global.scss */
#zone-content-wrapper {
  /* @include background_dark_pattern;  */
  background-color: #3b2f3d;
  padding: 2em 0;
}

/* line 360, ../sass/global.scss */
.context-news #zone-content-wrapper {
  background: transparent;
  color: #363636;
}

/* line 364, ../sass/global.scss */
#zone-footer-wrapper {
  background: url("/sites/default/files/images/background/pw_maze_black.png");
  background-repeat: repeat;
  background-color: #363636;
  border-top: 10px solid #3b2f3d;
  padding: 4em 0 8em 0;
}
/* line 369, ../sass/global.scss */
#zone-footer-wrapper h2, #zone-footer-wrapper h3 {
  margin-bottom: 10px;
}
/* line 372, ../sass/global.scss */
#zone-footer-wrapper a {
  text-decoration: none;
  margin-left: 10px;
}
/* line 374, ../sass/global.scss */
#zone-footer-wrapper a:hover {
  text-decoration: underline;
}

/* line 379, ../sass/global.scss */
#region-postscript-first {
  display: block;
}

/* line 382, ../sass/global.scss */
#region-postscript-second {
  display: none;
}

/* line 385, ../sass/global.scss */
#region-user-second {
  position: relative;
}
/* line 386, ../sass/global.scss */
#region-user-second .region-user-second-inner {
  position: relative;
}
/* line 389, ../sass/global.scss */
#region-user-second #block-boxes-contact-bob {
  								                         	 	/*
  position: absolute;
  																right: 0;
  */
}
/* line 394, ../sass/global.scss */
#region-user-second #block-boxes-contact-bob a.contact-button {
  /* @include sassy-button('shiny', 10px , 14px, $bright); */
  text-decoration: none;
}

/* line 400, ../sass/global.scss */
#block-boxes-subtitle {
  max-height: 2em;
  /* margin: -20px 0 0 0; */
}

/* line 407, ../sass/global.scss */
#block-views-links-badge .badge {
  text-align: center;
  width: 90%;
  padding: 1em;
  /* background: $darkest; */
}

/* line 415, ../sass/global.scss */
#block-views-pages-block-2 {
  background: #fafafa;
  border: 1px solid #cccccc;
  padding-left: 20px;
}
/* line 419, ../sass/global.scss */
#block-views-pages-block-2 h2 {
  padding: 2em 0 0 10px;
}

/* line 423, ../sass/global.scss */
#block-views-gallery-masonry-gallery .view-content {
  margin: 10px;
  color: #fff;
}
/* line 426, ../sass/global.scss */
#block-views-gallery-masonry-gallery .view-content h4 {
  margin: 10px 0 2px 0;
}
/* line 429, ../sass/global.scss */
#block-views-gallery-masonry-gallery .view-content .item {
  float: left;
  width: 350px;
  padding: 12px 14px;
  background: #363636;
  margin: 0;
}

/* line 437, ../sass/global.scss */
#block-views-gallery-front-videos {
  border-top: 1px dotted #87778a;
}
/* line 438, ../sass/global.scss */
#block-views-gallery-front-videos h4 {
  margin: 0 0 2px 0;
  color: #d5ced6;
  padding-top: 20px;
  width: 92%;
}

/* line 445, ../sass/global.scss */
.italic {
  font-style: italic;
}

/* line 448, ../sass/global.scss */
.selected {
  border-bottom: 3px solid #363636;
}

/* JQUERY TOOLS _ SCROLLABLE */
/*
root element for the scrollable.  when scrolling occurs this
element stays still.
*/
/* line 458, ../sass/global.scss */
.scrollable {
  /* required settings */
  position: relative;
  overflow: hidden;
  width: 570px;
  height: 450px;
}

/*
root element for scrollable items. Must be absolutely positioned
and it should have a extremely large width to accommodate scrollable
items.  it's enough that you set width and height for the root element
and not for this element.
*/
/* line 472, ../sass/global.scss */
.scrollable .items {
  /* this cannot be too large */
  width: 20000em;
  position: absolute;
}

/*
a single item. must be floated in horizontal scrolling.  typically,
this element is the one that *you* will style the most.
*/
/* line 482, ../sass/global.scss */
.items div {
  float: left;
}

/* JQUERY TOOLS _ OVERLAY */
/* the overlayed element */
/* line 489, ../sass/global.scss */
.simple_overlay {
  background-image: url("/sites/default/files/images/background/subtle_grunge.png");
  background-repeat: repeat repeat;
  padding: 2em;
  font-size: 18px;
  /* must be initially hidden */
  display: none;
  /* place overlay on top of other elements */
  z-index: 10000;
  /* styling */
  background-color: #fff;
  color: #363636;
  width: 675px;
  min-height: 200px;
  border: 1px solid #666666;
  /* CSS3 styling for latest browsers */
  -moz-box-shadow: 0 0 90px 5px black;
  -webkit-box-shadow: 0 0 90px black;
}

/* close button positioned on upper right corner */
/* line 516, ../sass/global.scss */
.simple_overlay .close {
  background-image: url(/sites/all/themes/omegabob/images/close.png);
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
  height: 35px;
  width: 35px;
}
