/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/* $darkest: #373534; */
/* line 4, ../sass/omegabob-alpha-default.scss */
#zone-user-wrapper {
  padding-top: 20px;
}

/* line 7, ../sass/omegabob-alpha-default.scss */
#region-user-first {
  margin-bottom: 0;
}

/* line 11, ../sass/omegabob-alpha-default.scss */
#region-postscript-second {
  display: none;
}

/* line 15, ../sass/omegabob-alpha-default.scss */
h1.site-name a,
h2.site-name a {
  font-size: 100px;
  font-weight: normal;
}

/* line 20, ../sass/omegabob-alpha-default.scss */
h6.site-slogan {
  font-size: 30px;
}

/* line 23, ../sass/omegabob-alpha-default.scss */
#block-boxes-subtitle p {
  font-size: 18px;
}

/* line 26, ../sass/omegabob-alpha-default.scss */
#boxes-box-robert_brusen {
  font-size: 18px;
}

/* line 33, ../sass/omegabob-alpha-default.scss */
#block-views-front-page-items-all-of-me,
#block-views-references-front-reference {
  font-size: 1.4em;
  line-height: 120%;
}
/* line 36, ../sass/omegabob-alpha-default.scss */
#block-views-front-page-items-all-of-me h3,
#block-views-references-front-reference h3 {
  font-weight: bold;
  font-size: 2em;
  color: #363636;
  margin-top: 0;
}
/* line 42, ../sass/omegabob-alpha-default.scss */
#block-views-front-page-items-all-of-me img,
#block-views-references-front-reference img {
  display: block;
}

/* line 46, ../sass/omegabob-alpha-default.scss */
#boxes-box-plato {
  padding: 0 0 0 10%;
}
/* line 48, ../sass/omegabob-alpha-default.scss */
#boxes-box-plato p {
  font-family: Lobster, Georgia, serif;
  font-size: 36px;
  text-shadow: none;
  line-height: 110%;
  text-transform: none;
  padding: 0 0 0 2em;
}

/* line 57, ../sass/omegabob-alpha-default.scss */
#block-views-links-badge .badge {
  text-align: left;
  width: 100%;
  padding: 0;
  background: none;
}

/*
#block-views-gallery-masonry-gallery .view-content {	margin: 0;

														.item	{	float: left;
																	width: 350px;
																	padding: 10px;
																	background: #fff;
																	border: 1px solid #ddd;
																}		
}
*/
/*--------------------------------------------- MAIN MENU ------------------------------------------------------------*/
/* line 79, ../sass/omegabob-alpha-default.scss */
ul.nav li {
  list-style: none;
  display: inline;
}
/* line 81, ../sass/omegabob-alpha-default.scss */
ul.nav li a {
  text-decoration: none;
  font-size: 18px;
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px;
  line-height: 26px;
  padding: 7px 18px;
  margin-right: 2px;
  margin-left: 2px;
  border-bottom-style: none;
}
