/* This file will hold styles that are loaded using the same media query as the wide grid. */
/* $darkest: #373534; */
/* Show the three videos row */
/* line 6, ../sass/omegabob-alpha-default-wide.scss */
#region-postscript-first {
  display: block;
}

/* line 9, ../sass/omegabob-alpha-default-wide.scss */
#region-postscript-second {
  display: none;
}

/* line 12, ../sass/omegabob-alpha-default-wide.scss */
#block-views-news-front-news h2.block-title {
  display: block;
  top: -40%;
}
