/**
 * Grid container
 */
/* line 5, ../sass/wookmark.scss */
.wookmark {
  list-style-type: none;
  position: relative;
  /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
}

/**
 * Grid items
 */
/* line 14, ../sass/wookmark.scss */
.wookmark li {
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: none;
  /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
  padding: 4px;
}

/* line 26, ../sass/wookmark.scss */
.wookmark li img {
  display: block;
}

/**
 * Grid item text
 */
/* line 33, ../sass/wookmark.scss */
.wookmark li p {
  color: #666;
  font-size: 12px;
  margin: 7px 0 0 7px;
}

/**
 * Some extra styles to randomize heights of grid items.
 */
/*
.wookmark ali:nth-child(3n) {
height: 175px;
}

.wookmark ali:nth-child(4n-3) {
padding-bottom: 30px;
}

.wookmark ali:nth-child(5n) {
height: 250px;
}
*/
